.Banner-container{
    background: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: rgb(36 39 44 / 30%) 0px 0px 70px 0px;
    height: 443px;
    left: 90px;
    padding: 0px 24px;
    position: absolute;
    top: 54px;
    width: 398px;
    z-index: 1;
}

.Banner-container h1{
color: rgb(44, 43, 43);
font-size: 30px;
font-weight: 800;
/* line-height: 0.1; */
font-family: roboto, sans-serif, Arial;
}


.Banner-Button-container{
    display: grid;
    column-gap: 15px;
    grid-template-columns: auto auto;
    color: black;
    margin-bottom: 5px;
}

.Banner-Button-container Button {
    border: 1px solid rgb(155, 150, 150);
    padding: 5px 15px 5px 15px;
    border-radius: 3px;
    color: black;
    font-family: roboto, sans-serif, Arial;
    font-weight: bold;
    background-color: white;
}

.old-new-btn-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .old-new-btn-container:active{
    background-color: black;
    color: aliceblue;
} */

.old-new-btn-container img{
    height: 100%;
    width: 40px;
    margin-top: -23px;
}